/* general font  */
body {
  font-family: 'Montserrat', sans-serif;
}
#title {
  background-color: #ff4c68;
}
.container-fluid{
  padding: 3% 15%;
}

.heading1 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

/* hero styles */
.navbar {
  padding: 0 0 4.5rem;
}
.brand-name {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

.transform-img {
  width: 60%;
  transform: rotate(20deg);
}

/* download buttons */

.down-btn {
  margin: 5% 3% 5% 0;
}

/* features section styles  */

#features {
  padding-top: 7%;
  padding-bottom: 7%;
}

.features-item {
  padding: 5%;
}

.features-item i {
  font-size: 4rem;
  color: #ef8172;
  margin-bottom: 1rem;
}

.features-item i:hover {
  color: #ff4c68;
}

.features-item h3 {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 1.1rem;
}

.features-item p, #pricing p{
  color: #8f8f8f;
}

/* testimonial section  */

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: white;
}

#testimonials h2, #pricing h2 {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 1.5;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

#press img {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing section  */

#pricing {
  text-align: center;
}

.price-col {
  padding: 3% 2%;
}